[submodule "plugins/csharp-mode"]
	path = plugins/csharp-mode
	url = https://github.com/josteink/csharp-mode.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "plugins/yasnippet-snippets"]
	path = plugins/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
