[submodule "plugins/csharp-mode"]
	path = plugins/csharp-mode
	url = https://github.com/josteink/csharp-mode.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "plugins/yasnippet-snippets"]
	path = plugins/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "plugins/company-mode"]
	path = plugins/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "plugins/melpa"]
	path = plugins/melpa
	url = https://github.com/milkypostman/melpa.git
[submodule "plugins/emacs-color-themes"]
	path = plugins/emacs-color-themes
	url = https://github.com/owainlewis/emacs-color-themes.git
